ul li {
  list-style-type: georgian;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "h h" 
    "n c";
}

.header {
  grid-area: h;
  background-color: green;
}

.header img {
  width: 100px;
}

.nav {
  background-color: bisque;
  grid-area: n;
}

.content {
  background-color: cadetblue;
  grid-area: c;
}

.content img {
  width: 100%;
  height: 300px;
}
